* {
    --text-color: #cfcfcf;
    --header-secondary-text-color: gray;
    --shadow-color: #0f0f0f;
    --background-color: #1f1f1f;
    --view-background-color: #252525;
    --view-border-color: #454545;
    --btn-color: #454545;
    --btn-color-hovered: #626262;
    --btn-color-pressed: #353535;
    --btn-shadow-color: var(--btn-color-hovered);
    --btn-close-color: #b83737;
    --btn-close-color-hovered: #d03e3e;
    --btn-close-color-pressed: #9f3030;
    --btn-close-shadow-color: var(--btn-close-color-hovered);
    --input-background-color: #e2e2e2;
    --input-shadow-color: var(--input-background-color);
    --chat-toggler-color: var(--btn-color);
    --chat-toggler-color-hovered: var(--btn-color-hovered);
    --chat-toggler-color-pressed: var(--btn-color-pressed);
    --chat-toggler-shadow-color: var(--btn-shadow-color);
    --make-first-big-color-hovered: var(--btn-color-hovered);
    --make-first-big-color-pressed: var(--btn-color-pressed);
    --make-first-big-shadow-color: var(--btn-shadow-color);
    --empty-view-list-placeholder-text-color: hsla(0, 0%, 58%, 0.75);
    --chromatic-abberation-color-1: hsla(0, 100%, 50%, 0.45);
    --chromatic-abberation-color-2: hsla(218, 100%, 50%, 0.75);
    --layout-btn-chosen-color: green;
    box-sizing: border-box;
    font-family: monospace;
}

html#root {
    min-height: 0;
    max-height: 100vh;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: unset;
    border-radius: 3px 3px 3px 3px;
    background-color: var(--input-background-color);
}

input:hover, input:focus {
    opacity: 1;
    box-shadow: 0 0 5px var(--input-shadow-color);
}

input#add-view-input {
    border-radius: 3px 0 0 3px;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.twitch-embed-container {
    height: 100%;
}

.app {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.flex {
    display: flex;
}

.display-none {
    display: none;
}

.direction-column {
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 0 15px 0;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0 3px 5px var(--shadow-color);
    color: var(--text-color);
    z-index: 10;
}

.twitch-logo {
    margin: 7px 15px;
}

h1#header-text {
    margin: 0;
}

.channel-nameplate {
    margin: 5px 5px 5px 5px;
    /*font-size: 25px;*/
    color: var(--text-color);
}

.azure-text {
    color: var(--text-color);
}

.micro-text {
    font-size: 12px;
    margin: 0;
    align-self: end;
    color: var(--header-secondary-text-color);
}

.mode-switcher {
    border-radius: 5px;
    justify-content: center;
}

.mode-btn-container {
    margin: 3px;
}

.mode-free-btn-image {
    height: 15px;
}

.mode-first-big-btn-image {
    height: 15px;
}

.view-layout-free {
    flex-direction: column;
    justify-content: center;
}

.view-layout-first-big {
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

.view-list-free {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.view-list-first-big {
    flex-direction: column;
    max-height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: auto;
    padding-right: 25px;
}

.view {
    flex-direction: column;
    width: 400px;
    height: 275px;
    min-width: 400px;
    min-height: 275px;
    max-width: 100%;
    max-height: 99%;
    border-radius: 15px 15px 0 0;
    margin: 5px;
    overflow: hidden;
    background-color: var(--view-background-color);
    box-shadow: 0 0 5px var(--shadow-color);
}

.resizable {
    resize: both;
}

.notresizable {
    resize: none;
}

.view-first-big {
    align-self: center;
    width: 75%;
    height: 100%;
    aspect-ratio: 16/9;
    margin-left: auto;
}

.view-header {
    flex-direction: row;
    margin: 3px 15px;
    justify-content: space-between;
}

.view-header-buttons {
    margin-left: auto;
}

.add-view-box {
    margin: 5px 25px;
}

.btn {
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
    transition: 0.15s;
    background-color: var(--btn-color);
    color: var(--text-color);
}

.btn:hover {
    background-color: var(--btn-color-hovered);
    box-shadow: 0 0 5px var(--btn-shadow-color);
}

.btn:active {
    background-color: var(--btn-color-pressed);
    box-shadow: 0 0 0 var(--btn-shadow-color);
}

.btn#add-view-btn {
    border-radius: 0 3px 3px 0;
}

.add-view-btn-image {
    height: 10px;
}

.btn-make-first-big {
    align-items: center;
    margin-right: 5px;
    height: 100%;
    background-color: var(--view-background-color);
}

.btn-make-first-big:hover {
    background-color: var(--make-first-big-color-hovered);
    box-shadow: 0 0 5px var(--make-first-big-shadow-color);
}

.btn-make-first-big:active {
    background-color: var(--make-first-big-color-pressed);
    box-shadow: 0 0 0 var(--make-first-big-shadow-color);
}

.chat-toggler-box {
    margin-right: 5px;
}

.chat-toggler-label {
    border-radius: 3px 3px 3px 3px;
    padding: 3px 10px;
    align-items: center;
    height: 100%;
    transition: 0.15s;
    background-color: var(--view-background-color);
}

.chat-toggler-label:hover {
    background-color: var(--chat-toggler-color-hovered);
    box-shadow: 0 0 5px var(--chat-toggler-shadow-color);
}

.chat-toggler-label:active {
    background-color: var(--chat-toggler-color-pressed);
    box-shadow: 0 0 0 var(--chat-toggler-shadow-color);
}

.chat-toggler-label-image {
    height: 15px;
}

.btn-close {
    align-items: center;
    height: 100%;
    background-color: var(--view-background-color);
}

.btn-close:hover {
    background-color: var(--btn-close-color-hovered);
    box-shadow: 0 0 5px var(--btn-close-shadow-color);
}

.btn-close:active {
    background-color: var(--btn-close-color-pressed);
    box-shadow: 0 0 0 var(--btn-close-shadow-color);
}

.btn-close-image {
    height: 10px;
}

.btn-make-first-big-image {
    height: 10px;
}

.layout-btn-chosen {
    background-color: var(--layout-btn-chosen-color);
    pointer-events: none;
}

.empty-view-list-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--empty-view-list-placeholder-text-color);
    text-shadow: -1px 1px 1px var(--chromatic-abberation-color-1), 1px 2px 1px var(--chromatic-abberation-color-2);
}
