* {
    --text-color: #cfcfcf;
    --header-secondary-text-color: gray;
    --shadow-color: #151515;
    --background-color: #1f1f1f;
    --foreground-color: #252525;
    --view-background-color: var(--foreground-color);
    --view-border-color: #454545;
    --tooltip-text-color: var(--view-background-color);
    --tooltip-background-color: var(--text-color);
    --tooltip-border-color: var(--view-border-color);
    --tooltip-shadow-color: var(--shadow-color);
    --search-result-list-item-color-hovered: #3b3b3b;
    --channel-info-tooltip-channel-name-color: #7b55b3;
    --channel-info-tooltip-channel-viewer-counter-color: #757575;
    --btn-color: #454545;
    --btn-color-hovered: #626262;
    --btn-color-pressed: #353535;
    --btn-shadow-color: var(--btn-color-hovered);
    --btn-close-color: #b83737;
    --btn-close-color-hovered: #d03e3e;
    --btn-close-color-pressed: #9f3030;
    --btn-close-shadow-color: var(--btn-close-color-hovered);
    --btn-login-with-twitch-color: #7838de;
    --btn-login-with-twitch-color-hovered: #843df3;
    --btn-login-with-twitch-color-pressed: #6430bf;
    --btn-logout-color: var(--foreground-color);
    --btn-logout-color-hovered: var(--btn-close-color-hovered);
    --btn-logout-color-pressed: var(--btn-close-color-pressed);
    --btn-logout-shadow-color: var(--btn-close-shadow-color);
    --input-background-color: #e2e2e2;
    --input-shadow-color: var(--input-background-color);
    --chat-toggler-color: var(--btn-color);
    --chat-toggler-color-hovered: var(--btn-color-hovered);
    --chat-toggler-color-pressed: var(--btn-color-pressed);
    --chat-toggler-shadow-color: var(--btn-shadow-color);
    --make-first-big-color-hovered: var(--btn-color-hovered);
    --make-first-big-color-pressed: var(--btn-color-pressed);
    --make-first-big-shadow-color: var(--btn-shadow-color);
    --empty-view-list-placeholder-text-color: hsla(0, 0%, 58%, 0.75);
    --chromatic-abberation-color-1: hsla(0, 100%, 50%, 0.45);
    --chromatic-abberation-color-2: hsla(218, 100%, 50%, 0.75);
    --layout-btn-chosen-color: green;
    box-sizing: border-box;
    font-family: monospace;
}

html#root {
    min-height: 0;
    min-width: 910px;
    max-height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
}

p {
    margin: auto;
}

input {
    outline: none;
    border: unset;
    border-radius: 3px 3px 3px 3px;
    background-color: var(--input-background-color);
}

input:hover, input:focus {
    opacity: 1;
    box-shadow: 0 0 5px var(--input-shadow-color);
}

input#add-view-input {
    width: 155px;
    border-radius: 3px 0 0 3px;
}

.visually-hidden {
    position: absolute;
    left: -100vw;
}

.twitch-embed-container {
    height: 100%;
}

.app {
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
}

.flex {
    display: flex;
}

.display-none {
    display: none;
}

.direction-column {
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    /*margin-bottom: 15px;*/
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--foreground-color);
    box-shadow: 0 0 5px var(--shadow-color);
    color: var(--text-color);
    z-index: 10;
}

.twitch-logo {
    margin: 7px 15px 7px 0;
}

h1#header-text {
    margin: 0;
}

.channel-nameplate {
    margin: 5px 5px 5px 5px;
    color: var(--text-color);
}

.azure-text {
    color: var(--text-color);
}

.micro-text {
    font-size: 12px;
    margin: 0;
    align-self: end;
    color: var(--header-secondary-text-color);
}

.tooltiped {
    position: relative;
}

.tooltiped:hover .tooltip {
    visibility: visible;
}

.tooltip {
    position: absolute;
    width: max-content;
    max-width: 200px;
    visibility: hidden;
    color: var(--tooltip-text-color);
    font-weight: 1000;
    text-align: center;
    background-color: var(--tooltip-background-color);
    box-shadow: 0 0 5px var(--tooltip-shadow-color);
    border-radius: 5px;
    padding: 3px 7px 3px 7px;
    transform: translateX(-50%);
    z-index: 15;
}

.tooltiped .tooltip::after {
    content: "";
    border-width: 4px;
    border-style: solid;
}

.tooltiped .tooltip-bot {
    top: 100%;
    left: 50%;
    margin-top: 5px;
}

.tooltiped .tooltip-bot::after {
    position: absolute;
    bottom: 100%;
    left: 45%;
    border-color: transparent transparent var(--tooltip-background-color) transparent;
}

.tooltiped .tooltip-top {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
}

.tooltiped .tooltip-top::after {
    position: absolute;
    top: 100%;
    left: 45%;
    border-color: var(--tooltip-background-color) transparent transparent transparent;
}

.tooltiped .tooltip-right {
    left: 150%;
    bottom: 50%;
    margin-bottom: 5px;
}

.tooltiped .tooltip-right::after {
    position: absolute;
    right: 100%;
    bottom: 45%;
    border-color: transparent var(--tooltip-background-color) transparent transparent;
}

#search-result-list {
    position: absolute;
    top: 75%;
    width: 155px;
    color: var(--text-color);
    background-color: var(--foreground-color);
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 5px var(--shadow-color);
}

.search-result-list-item {
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-result-list-item:hover {
    background-color: var(--search-result-list-item-color-hovered);
}

.mode-switcher {
    border-radius: 5px;
    justify-content: center;
    margin-right: auto;
}

.mode-btn-container {
    margin: 3px;
}

.mode-free-btn-image {
    height: 15px;
}

.mode-first-big-btn-image {
    height: 15px;
}

#main-layout {
    min-height: calc(100vh - 67px);
    max-height: calc(100vh - 67px);
}

#followed-bar {
    min-width: 55px;
    max-width: 55px;
    max-height: inherit;
    background-color: var(--foreground-color);
    box-shadow: 0 0 5px var(--shadow-color);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

.followed-bar-icon {
    padding: 10px;
    max-width: inherit;
}

.followed-bar-icon-img {
    display: block;
    max-width: 50%;
    margin: 15% auto;
}

.followed-channel {
    padding: 5px 10px;
    max-width: inherit;
}

.followed-channel-img {
    max-width: 100%;
    border-radius: 50%;
    cursor: pointer;
}

#view-layout {
    width: 100%;
    padding-left: 10px;
}

.view-layout-free {
    flex-direction: column;
    justify-content: center;
}

.view-layout-first-big {
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
}

#view-list {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    padding-top: 5px;
}

.view-list-free {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.view-list-first-big {
    flex-direction: column;
    max-height: inherit;
    width: auto;
    padding-right: 10px;
}

.view {
    flex-direction: column;
    width: 400px;
    height: 275px;
    min-width: 400px;
    min-height: 275px;
    max-width: 100%;
    max-height: 99%;
    border-radius: 15px 15px 0 0;
    margin: 5px;
    overflow: hidden;
    background-color: var(--view-background-color);
    box-shadow: 0 0 5px var(--shadow-color);
}

.resizable {
    resize: both;
}

.notresizable {
    resize: none;
}

.view-first-big {
    align-self: center;
    width: 75%;
    height: auto;
    aspect-ratio: 16/9;
    margin: auto;
}

.view-header {
    flex-direction: row;
    margin: 3px 15px;
    justify-content: space-between;
}

.view-header-buttons {
    margin-left: auto;
}

.add-view-box {
    margin: 5px 25px;
}

.btn {
    border-radius: 3px 3px 3px 3px;
    padding: 5px 10px;
    transition: 0.15s;
    background-color: var(--btn-color);
    color: var(--text-color);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--btn-color-hovered);
    box-shadow: 0 0 5px var(--btn-shadow-color);
}

.btn:active {
    background-color: var(--btn-color-pressed);
    box-shadow: 0 0 0 var(--btn-shadow-color);
}

.btn#add-view-btn {
    border-radius: 0 3px 3px 0;
}

.add-view-btn-image {
    height: 10px;
}

.btn-make-first-big {
    align-items: center;
    margin-right: 5px;
    height: 100%;
    background-color: var(--view-background-color);
}

.btn-make-first-big:hover {
    background-color: var(--make-first-big-color-hovered);
    box-shadow: 0 0 5px var(--make-first-big-shadow-color);
}

.btn-make-first-big:active {
    background-color: var(--make-first-big-color-pressed);
    box-shadow: 0 0 0 var(--make-first-big-shadow-color);
}

.chat-toggler-box {
    margin-right: 5px;
}

.chat-toggler-label {
    border-radius: 3px 3px 3px 3px;
    padding: 3px 10px;
    align-items: center;
    height: 100%;
    transition: 0.15s;
    background-color: var(--view-background-color);
    cursor: pointer;
}

.chat-toggler-label:hover {
    background-color: var(--chat-toggler-color-hovered);
    box-shadow: 0 0 5px var(--chat-toggler-shadow-color);
}

.chat-toggler-label:active {
    background-color: var(--chat-toggler-color-pressed);
    box-shadow: 0 0 0 var(--chat-toggler-shadow-color);
}

.chat-toggler-label-image {
    height: 15px;
}

.btn-close {
    align-items: center;
    height: 100%;
    background-color: var(--view-background-color);
}

.btn-close:hover {
    background-color: var(--btn-close-color-hovered);
    box-shadow: 0 0 5px var(--btn-close-shadow-color);
}

.btn-close:active {
    background-color: var(--btn-close-color-pressed);
    box-shadow: 0 0 0 var(--btn-close-shadow-color);
}

.btn-close-image {
    height: 10px;
}

.btn-make-first-big-image {
    height: 10px;
}

.layout-btn-chosen {
    background-color: var(--layout-btn-chosen-color);
    pointer-events: none;
}

.auth-container {
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.btn-login-with-twitch {
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: var(--btn-login-with-twitch-color);
}

.btn-login-with-twitch:hover {
    background-color: var(--btn-login-with-twitch-color-hovered);
    box-shadow: 0 0 5px var(--btn-login-with-twitch-color);
}

.btn-login-with-twitch:active {
    background-color: var(--btn-login-with-twitch-color-pressed);
    box-shadow: 0 0 0 var(--btn-login-with-twitch-color);
}

.profile-container {
}

.profile-nickname-text {
    font-size: 24px;
    margin-right: 5px;
}

.profile-image {
    height: 50px;
    border-radius: 50%;
}

.btn-logout {
    justify-content: center;
    align-items: center;
    height: 30px;
    aspect-ratio: 1;
    margin: auto 0 auto 15px;
    padding: 5px;
    background-color: var(--btn-logout-color);
}

.btn-logout:hover {
    background-color: var(--btn-logout-color-hovered);
    box-shadow: 0 0 5px var(--btn-shadow-color);
}

.btn-logout:active {
    background-color: var(--btn-logout-color-pressed);
    box-shadow: 0 0 0 var(--btn-shadow-color);
}


.logout-btn-image {
    height: 20px;
}

#channel-info-tooltip {
    position: absolute;
    padding: 10px;
    max-width: 300px;
    background-color: var(--foreground-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--shadow-color);
    z-index: 15;
}

#channel-info-tooltip-channel-name {
    color: var(--channel-info-tooltip-channel-name-color);
    font-size: 14px;
    font-weight: bold;
}

#channel-info-tooltip-stream-name {
    margin: 3px 0;
    color: var(--text-color);
}

#channel-info-tooltip-viewer-counter {
    color: var(--channel-info-tooltip-channel-viewer-counter-color);
}

.empty-view-list-placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 910px;
    justify-content: center;
    align-items: center;
    color: var(--empty-view-list-placeholder-text-color);
    text-shadow: -1px 1px 1px var(--chromatic-abberation-color-1), 1px 2px 1px var(--chromatic-abberation-color-2);
    z-index: -1;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(155, 155, 155, 0.5);
    border: transparent;
}

#followed-bar::-webkit-scrollbar {
    width: 0;
}
